@model IEnumerable<CVSWebApp2.Models.LocationTimeZone>

@{
    ViewData["Title"] = "Index";
}

<h2>Time Zones</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="table-responsive">
<table class="table table-hover table-condensed  table-striped">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeZoneValue)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeZoneValue)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LocationTimeZoneId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LocationTimeZoneId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LocationTimeZoneId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
    </div>
